.btn-disable
        {
border:0px solid #b7b7b7; 
 border-radius: 3px;
font-size:12px;
font-family:arial, helvetica, sans-serif;
 padding: 2px 2px 2px 2px; 
  margin: 2px 0px 10px 2px;
 text-decoration:none;
  display:inline-block;
  text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
  font-weight:bold; 
  color: #FFFFFF;
 background-color: #d3d3d3; background-image: linear-gradient(to bottom, #d3d3d3, #707070);
 }
